################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HappyShop.Abstractions/obj
/.vs/HappyShop/v16/Server/sqlite3
/HappyShop.Api/obj
/HappyShop.Data/obj
/HappyShop.Service/obj
/HappyShop.Api/bin/Debug/netcoreapp3.1
/.vs/HappyShop/v16
/HappyShop.Abstractions/bin/Debug/netstandard2.0
/HappyShop.Core/bin/Debug/netstandard2.0
/HappyShop.Core/obj
/HappyShop.Data/bin/Debug/netstandard2.0
/HappyShop.Service/bin/Debug/netstandard2.0
/.vs/HappyShop/DesignTimeBuild
/HappyShop.Api/bin/Release/netcoreapp3.1
/HappyShop.Api/.config
/HappyShop.Core/bin/Release/netstandard2.0
/HappyShop.Data/bin/Release/netstandard2.0
/HappyShop.Service/bin/Release/netstandard2.0
/HappyShop.Abstractions/bin/Release/netstandard2.0
/HappyShop.SQLData/bin/Debug/netstandard2.0
/HappyShop.SQLData/obj
/HappyShop.Core/bin/Debug/netcoreapp3.1
/HappyShop.Data/bin/Debug/netcoreapp3.1
/HappyShop.Service/bin/Debug/netcoreapp3.1
/HappyShop.SQLData/bin/Debug/netcoreapp3.1
/HappyShop.Core/bin/Release/netcoreapp3.1
/HappyShop.Service/bin/Release/netcoreapp3.1
/HappyShop.SQLData/bin/Release/netcoreapp3.1
/.vs/HappyShop/v17
/.vs/HappyShop/FileContentIndex
