################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HappyShop.Abstractions/obj
/HappyShop.Abstractions/bin
/.vs
/HappyShop.Api/obj
/HappyShop.Api/bin
/HappyShop.Api/.config
/HappyShop.Data/obj
/HappyShop.Data/bin
/HappyShop.Service/obj
/HappyShop.Service/bin
/HappyShop.Core/bin
/HappyShop.Core/obj

/HappyShop.SQLData/bin
/HappyShop.SQLData/obj
/NoticeWorkerService/bin
/NoticeWorkerService/obj
/NoticeWorkerService/Properties
