[Unit]
Description=Run happyshop script every seconds

[Service]
ExecStart=/home/service/happyshop/script.sh
Restart=always

[Install]
WantedBy=multi-user.target